<div class="row mt-2">
  <div class="col">

<form (ngSubmit)="savePost()" #message="ngForm">
  <div class="form-group">
    <label for="author">Author</label>
    <input name="author" id="author" class="form-control" ngModel/>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea type="message" name="message" id="message" class="form-control" ngModel></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="isUpLoading">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus" viewBox="0 0 16 16">
      <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
      <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
    </svg>
        <span *ngIf="!isUpLoading"></span>
    <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
  </button>
</form>
  </div>
</div>
