<div class="card-group mt-2 flex-column" *ngFor="let message of messages">
  <div class="col mt-4 mb-4">
    <div class="card mb-2" >
      <p>{{ message.author}}</p>
      <p>{{ message.message}}</p>
      <p>{{ message.datetime}}</p>
    </div>
  </div>
</div>
